*{
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color:rgb(168, 209, 120) ;
    }
    
.header{
    width: 100%;
    float: left;
    height: 70px;
    background-color: rgb(235, 231, 216);
    
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 80px;
}

.contenedor1{
    width: 10%;
    float: left;
    height: 4950px;
    background-color: rgb(235, 231, 216);
    padding: 40px 50px 10px 30px;
    margin: 10px 40px;
    color: rgb(10, 10, 10);
    text-align: center;
    border-radius: 20px;
}


.box{
    width: 20.3%;
    height: 519px;
    background-color: rgb(243, 243, 242);
    margin: 10px 40px 20px;
    float: left;
    padding-top: 10px;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;



}
.lista{
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    height: 170px;
}
dd{
    margin-left: 0px;
    padding: 0px 10px 0px 10px;
}

select{
    background-color: rgb(168, 209, 120);
    padding: 5px;
    margin: 10px 0px;
    border-radius: 15px;
}

.boton{
    padding: 15px;
    background-color: black;
    color:aliceblue;
    border-radius: 50px;
    border-color: aliceblue;
}

footer{
    background-color: black;
    color: aliceblue;
    position: absolute;
    width: 100%;
    height: 40px;
    margin-top: 5200px;
    padding: 2px 0px 10px 0px;
    text-align: center;
    border-radius: 30px;

}
.id{
    color: rgb(33, 100, 44);
    margin-top: 0px;
    padding-top: 0px ;
    font-size: 25px;
    font-family: 'Space Mono', monospace;
}


p{
 font-size: 25px;
 color: black;
 font-family: 'Space Mono', monospace;
}






















